# General
.DS_Store
*.log

# Mobile Builds
build/
*.apk
*.aab
*.app
*.ipa
*.dSYM

# iOS Specific
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/Pods/

# Android Specific
.gradle/
android/local.properties
android/.idea/

# SECURITY: Block environment files
.env
Config.xcconfig
kokoro_server/.venv/
